@media screen and (min-width: 374.98px) {
	.on.tablet,
	.on.desktop {
		display: none;
	}
	.on.mobile {
		display: initial;
	}
}

@media screen and (min-width: 767px) {
	.on.desktop,
	.on.mobile {
		display: none;
	}
	.on.tablet {
		display: initial;
	}
}

@media screen and (min-width: 1199.98px) {
	.on.tablet,
	.on.mobile {
		display: none;
	}
	.on.desktop {
		display: initial;
	}
}
