section,
header,
footer {
	padding: 0 calc(50vw - 585px);
}

header {
	padding-top: 35px;
	padding-bottom: 83px;
}
.prenav {
	display: flex;
}
nav a {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	color: #232233;
}

.nav__burger {
	display: none;
}

.nav__left > a:first-of-type {
	font-weight: 600;
	font-size: 20px;
	line-height: 130%;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #5956e9;
	margin-left: 47px;
}

.hero {
	gap: 174px;
	margin-top: 82px;
	flex-direction: row;
}

.hero > img {
	height: inherit;
}

.hero__text {
	padding: 40px 23px 40px 30px;
	flex-basis: 570px;
}

.hero__text > p:first-of-type {
	font-weight: 700;
	font-size: 48.83px;
	line-height: 63px;
}

.hero__text > p:last-of-type {
	font-size: 16px;
	line-height: 24px;
	margin: 18px 0 52px;
}

.hero__text > span {
	font-size: 25px;
	line-height: 38px;
}

section {
	padding-top: 85px;
	padding-bottom: 100px;
}

.section__text > h1 {
	font-weight: 700;
	font-size: 31.25px;
	line-height: 47px;
}

.section__text > p {
	width: 450px;
	margin: 18px 0 65px;
}

.team__cards {
	flex-direction: row;
	gap: 30px;
	margin-bottom: 100px;
}

.team__card {
	padding: 53px 23px;
}

.team__card > img {
	width: 198px;
	height: 198px;
}

.team__card > h1 {
	margin-top: 77px;
	font-weight: 700;
	font-size: 31.25px;
	line-height: 47px;
}

.team__card > span {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.team__card > p {
	margin: 14px 0 42px;
}

.card__icons {
	gap: 33px;
}

.blog__cards {
	gap: 30px;
	flex-direction: row;
}

.blog__text {
	padding: 40px 18px;
}

.blog__text > p:last-of-type {
	margin: 10px 0 28px;
}

footer {
	padding-top: 98px;
	padding-bottom: 18px;
}

.footer__right {
	gap: 66px;
	flex-direction: row;
}

.footer__nav {
	flex-direction: row;
}

.footer__logo > p:last-of-type {
	width: 334px;
	margin-bottom: 40px;
}

.footer__links > span {
	font-size: 25px;
	line-height: 38px;
}

.footer__input > span {
	font-size: 25px;
	line-height: 38px;
}

.footer__input > p {
	margin: 11px 0 33px;
}
