section,
header,
footer {
	padding: 0 calc(50vw - 179.5px);
}

.prenav {
	display: none;
}
header {
	padding-top: 40px;
	padding-bottom: 120px;
}

.nav__burger {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	margin-left: 16px;
}

.nav__burger > span {
	width: 18px;
	height: 2px;
	background-color: #232233;
}

.hero__text {
	padding: 30px 12px 21px 18px;
	flex-basis: 356px;
}

.hero__text > p:first-of-type {
	font-weight: 600;
	font-size: 31.25px;
	line-height: 47px;
}

.hero__text > p:last-of-type {
	font-size: 16px;
	line-height: 24px;
	margin: 18px 0 30px;
}
.hero__text > span {
	font-size: 20px;
	line-height: 30px;
}

.hero {
	gap: 90px;
	margin-top: 236px;
	flex-direction: column;
}

.hero > img {
	height: 521px;
}

section {
	padding-top: 25px;
	padding-bottom: 80px;
}

.section__text > h1 {
	font-weight: 600;
	font-size: 25px;
	line-height: 38px;
}

.section__text > p {
	width: 300px;
	margin: 18px 0 40px;
}

.team__cards {
	gap: 24px;
	margin-bottom: 80px;
	flex-direction: column;
}

.team__card {
	padding: 45px 15px;
}

.team__card > img {
	width: 160px;
	height: 160px;
}

.team__card > h1 {
	margin-top: 20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.team__card > span {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.team__card > p {
	margin: 18px 0 32px;
}

.card__icons {
	gap: 12px;
}

.blog__cards {
	gap: 24px;
}

.blog__text {
	padding: 30px 18px;
}

.blog__text > p:last-of-type {
	margin: 18px 0 40px;
}

footer {
	padding-top: 47px;
	padding-bottom: 18px;
}

.footer__right {
	gap: 24px;
}

.footer__logo > p {
	width: 213px;
	margin-bottom: 32px;
}

.footer__links > span {
	font-size: 20px;
	line-height: 30px;
}

.footer__input > span {
	font-size: 20px;
	line-height: 30px;
}

.footer__input > p {
	margin: 13px 0 30px;
	width: 213px;
}
